*.unitypackage filter=lfs diff=lfs merge=lfs -text
Pest/Assets/Characters/Rat_MC/Rat_Model[[:space:]]-[[:space:]]TEXTURED[[:space:]]BACKUP.fbx filter=lfs diff=lfs merge=lfs -text
Pest/Assets/Terrain_0_0-20190616-142106.asset filter=lfs diff=lfs merge=lfs -text
